package audit

const (
	ActionLoginSuccess    = "LOGIN_SUCCESS"
	ActionLoginFailed     = "LOGIN_FAILED"
	ActionLogout          = "LOGOUT"
	ActionUserCreated     = "USER_CREATED"
	ActionUserUpdated     = "USER_UPDATED"
	ActionUserDeleted     = "USER_DELETED"
	ActionPasswordChanged = "PASSWORD_CHANGED"
	ActionPasswordReset   = "PASSWORD_RESET"
	ActionRoleChanged     = "ROLE_CHANGED"
)
