package mapper

import (
	"{{ .ModulePath }}/internal/app/dto/request"
	"{{ .ModulePath }}/internal/app/model"
)

func FromRegisterRequest(r request.Register, passwordHash string) *model.User {
	return &model.User{
		Email:        r.Email,
		PasswordHash: passwordHash,
		Name:         r.Name,
		Role:         model.RoleUser,
		Status:       model.StatusActive,
		Locale:       "en",
	}
}
