package module

import (
	"go.uber.org/fx"

	"{{ .ModulePath }}/internal/audit"
	"{{ .ModulePath }}/internal/repository"
)

var Repository = fx.Module("repository",
	fx.Provide(
		repository.NewUserRepository,
		repository.NewTokenRepository,
		repository.NewAuditRepository,
		audit.NewLogger,
	),
)
